/* GERAL  */

  @import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');

*{
  margin: 0;
  padding: 0;
}
body{
  font-family: 'Poppins', sans-serif;
}
/* Isso permitirá que a rolagem ocorra suavemente até cada seção */
html{
  scroll-behavior: smooth;
}
/* Define a cor do texto para um tom de cinza escuro (#555) */
p{
  color: rgb(85, 85, 85);
}
/* Aplica uma transição suave de 300ms a todos os elementos com a classe .btn */
a, .btn{
  transition: all 300ms ease;
}
/* ---------------------------------------------------------------------------- */
/* Desktop navegação  */
/* Aplica uma exibição flexível tanto a elementos <nav> quanto a elementos com a classe .nav-links */
/* Isso significa que eles ficarão um ao lado do outro, horizontalmente.
Isso é útil para criar menus de navegação, barras de menu ou qualquer outro tipo de layout onde os elementos precisem ficar alinhados horizontalmente.
 */
nav, 
.nav-links {
  display: flex;
}
nav{
  justify-content: space-around; /* Distribuição equidistante dos elementos ao redor do espaço disponível */
  align-items: center; /* Centraliza os elementos verticalmente */
  height: 17vh; /* Define a altura como 17% da altura da viewport */
}

.nav-links{
  gap: 2rem; /* Espaçamento entre os elementos da lista */
  list-style: none; /* Remoção dos marcadores de lista */
  font-size: 1.5rem; /* Tamanho da fonte */
}

a{
  color: black; /* Cor do texto do link */
  text-decoration: none; /* Remoção do sublinhado padrão */
  text-decoration-color: white; /* Cor do sublinhado quando houver */
}
a:hover{
  color: #d30f59;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-color: rgb(211, 15, 89);
}
.logo{
  font-size: 2rem;
}
.logo:hover{
  cursor: default;
}
/* ---------------------------------------------------------------------------------------*/
/* SEÇÃO MOVEL HAMBURGER MENU  */
#hamburger-nav{
  display: none; /* Oculta o elemento com o ID #hamburger-nav útil, por exemplo, para esconder um menu de navegação responsivo (como um menu de hambúrguer) em telas maiores onde ele não é necessário. */
}
.hamburger-menu{
  position: relative; /* Posição relativa para posicionamento flexível */
  display: inline-block; /* Exibição como bloco em linha */
}
.hamburger-icon{
  display: flex; /* Exibição flexível para alinhar itens verticalmente */
  flex-direction: column; /* Itens dispostos em coluna */
  justify-content: space-between; /* Espaço uniformemente distribuído entre os itens */
  height: 24px; /* Altura do ícone */
  width: 30px; /* Largura do ícone */
  cursor: pointer; /* Cursor do mouse alterado para indicar que é clicável */
}
.hamburger-icon span{
  width: 100%; /* Largura de 100% */
  height: 2px; /* Altura de 2 pixels */
  background-color: black; /* Cor de fundo preta */
  transition: all 0.3s ease-in-out; /* Transição suave de propriedades */

  /* as três linhas horizontais são representadas como elementos <span> dentro de um elemento com a classe .hamburger-icon. O CSS aplica as propriedades necessárias para criar essa aparência de ícone de hambúrguer com três tracinhos. */


}
.menu-links{
  position: absolute; /* Posicionamento absoluto */
  top: 100%; /* Posicionamento abaixo do elemento pai */
  right: 0; /* Alinhamento à direita */
  background-color: white; /* Cor de fundo branca */
  width: fit-content; /* Largura ajustada ao conteúdo */
  max-height: 0; /* Altura máxima inicial de 0 (oculto) */
  overflow: hidden; /* Oculta o conteúdo que ultrapassa a altura */
  transition: all 0.3s ease-in-out; /* Transição suave de propriedades */
}
.menu-links a{
  display: block;
  padding: 10px;
  text-align: center;
  font-size: 1.5rem;
  color: black;
  text-decoration: none;
  transition: all 0.3 ease-in-out;
}
.menu-links li{
  list-style: none;
}
.menu-links.aberto{
  max-height: 300px;
}
/* Estilos para o primeiro filho <span> dentro de elementos com as classes .hamburger-icon e .aberto */
.hamburger-icon.aberto span:first-child{
  transform: rotate(45deg) translate(10px, 5px) ;
  /* Isso aplica duas transformações ao elemento. Primeiro, ele é rotacionado em 45 graus no sentido horário. Em seguida, é movido horizontalmente 10 pixels e verticalmente 5 pixels. Isso é comum em animações de ícones de hambúrguer, onde o ícone se transforma em uma forma de "X" quando o menu está aberto, indicando que o usuário pode fechá-lo. */
}
.hamburger-icon.aberto span:nth-child(2){
  opacity: 0;
  /* Essa regra aplica a propriedade opacity para tornar o segundo elemento <span> invisível (com opacidade 0). Isso é comum em animações de ícones de hambúrguer, onde o segundo traço do ícone é simplesmente ocultado quando o menu é aberto. */
}
.hamburger-icon.aberto span:last-child{
  transform: rotate(-45deg) translate(10px, -5px) ;
  /* Esta regra aplica a transformação ao último elemento <span>. Assim como o primeiro traço, ele é rotacionado e movido para formar a outra parte do "X" quando o menu é aberto. */
}
.hamburger-icon span:first-child{
  transform: none;
}
.hamburger-icon span:first-child{
  opacity: 1;
}
.hamburger-icon  span:first-child{
  transform: none;
}

/* SEÇÂO  */
section{
  padding-top: 4vh; /* Espaçamento superior de 4% da altura da viewport */
  height: 96vh; /* Altura de 96% da altura da viewport */
  margin: 0 10rem; /* Margem horizontal de 0 no topo e na base, 10rem nas laterais */
  box-sizing: border-box; /* Modelo de caixa incluindo borda e preenchimento */
  min-height: fit-content; /* Altura mínima ajustada ao conteúdo */
}
.secao-container{
  display: flex;
}
/* Seção Perfil  */
#perfil{
  display: flex;
  justify-content: center;
  gap: 5rem;
  height: 80vh;
}
.secao__fot-container{
  display: flex;
  height: 400px;
  width: 400px;
  margin: auto 0 ;
}
.secao__texto{
  align-self: center;
  text-align: center;
}
.secao__texto p{
  font-weight: 600;
}
.secao__texto__p1{
  text-align: center;
}
.secao__texto__p2{
  font-size: 1.75rem;
  margin-bottom: 1rem;
}
.titulo{
  font-size: 3rem;
  text-align: center;
}
#social-container{
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  gap: 1rem;
}
/* ICONES  */
.icon{
  height: 2rem;
  cursor: pointer;
}
/* BOTÕES  */
.btn-container{
  display: flex;
  justify-content: center;
  gap: 1rem;
}
.btn{
  font-weight: 600;
  transition:  all 300ms ease;
  padding: 1rem;
  width: 8rem;
  border-radius: 2rem;
}
.btn-color-1, .btn-color-2{
  border: rgb(211, 15, 89) 0.1rem solid;
}
.btn-color-1:hover, .btn-color-2:hover {
  cursor: pointer;
}

.btn-color-1, .btn-color-2:hover {
  background-color: rgb(211, 15, 89) ;
  color: white;
}
.btn-color-1:hover{
  background: black;
}
.btn-color-2{
  background: none ;
}
.btn-color-2:hover{
  border: rgb(255, 255, 255) 0.1rem solid;
}
.btn-container{
  gap: 1rem;
}

/* SEÇÂO SOBRE  */
#sobre{
  position: relative;
}
.sobre-containers{
  gap: 2rem;
  margin-bottom: 2rem;
  margin-top: 2rem;
}
.sobre-detalhes-container{
  justify-content: center;
  flex-direction: column;
}
.sobre-containers, .sobre-detalhes-container{
  display: flex;
}
.sobre-fot{
  border-radius: 2rem;
}
.arrow{
  position: absolute;
  right: -5rem;
  bottom: 2.5rem;
}
.detalhes-container{
  padding: 1.5rem;
  flex: 1;
  background: white;
  border-radius: 2rem;
  border: rgb(211, 15, 89) 0.1rem solid;
  text-align: center;
}
.secao-container{
  gap: 4rem;
  height: 80%;
}
.secao__fot-container{
  height: 400px;
  width: 400px;
  margin: auto 0;
}
/* SEÇÃO EXPERIÊNCIA  */
#experiencia{
  position: relative;
}
.experiencia-sub-titulo{
  color: #d30f59;
  font-weight: 600;
  font-size: 1.75rem;
  margin-bottom: 2rem;
}
.experiencia-detalhes-container{
  display: flex;
  justify-content: center;
  flex-direction: column;
}
.artigo-container{
  display: flex; /* Aplica um layout flexível */
  text-align: initial; /* Alinhamento do texto à esquerda */
  flex-wrap: wrap; /* Quebra para a próxima linha quando necessário */
  flex-direction: row;
  gap: 2.5rem;
  justify-content: space-around;
}
article{
   display: flex;
   width: 10rem;
   justify-content: space-around;
   gap: 0.5rem;
}
article .icon{
  cursor: default;
}

/* Seção Projetos */
#projetos{
  position: relative;
}
.color-container{
  border-color: #d30f59;
  background: white;

}
.projeto-img{
  border-radius: 2rem;
  width: 90%;
  height: 90%;
}
.projeto-titulo{
  margin: 1rem;
  color: black;
}
.porjeto-btn{
  color: black;

}

/* Contatos  */
#contatos{
  display: flex;
  justify-content: center;
  flex-direction: column;
  height: 70vh;
}
.contato-info-upper-container{
  display: flex;
  justify-content: center;
  border-radius: 2rem;
   border: white 0.1rem solid;
  border-color: white;
  background-color: #d30f59;
  margin: 2rem auto;
  padding: 0.5rem;

}
.contato-info-container{
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
  margin: 1rem;
}
.contato-info-container p {
  font-size:  large;
}
.contato-icon{
  cursor: default;
}
.email-icon{
  height: 2.5rem;
  
}
/* Seção Rodapé  */
footer{
  height: 26vh;
  margin: 0 1rem;
}
footer p {
  text-align: center;
}